
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: gilroy-regular;
    overflow-y: hidden;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 20px 0;
    padding: 5px;
    background-color:rgb(15, 15, 15);
    color: rgb(248, 248, 248);
}

.grid {
    display: flex;
    height: 74vh;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.grid-container {
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.square {
    border: solid black 1px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
}

.mole {
    background-image: url('./assets/mole.jpeg');
    background-size: cover;
    background-position: center;
}

.btn {
    display: flex;
    justify-content: center;
}
  
.start-stop-game {
    display: inline-flex;
    white-space: nowrap;
    -moz-box-align: center;
    align-items: center;
    position: relative;
    pointer-events: auto;
    text-align: center;
    padding: 10px 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-family: "gilroy-bold";
    font-weight: bold;
    letter-spacing: 0.4px;
    line-height: 30px;
    border-radius: 40px;
    cursor: pointer;
    margin: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:rgb(15, 15, 15);
    color: rgb(248, 248, 248);
    text-align: center;
    padding: 10px 0;
}

.github-repo {
    margin-top: 10px;
}

.github-repo a {
    display: inline-block;
    padding: 5px 10px;
    color: rgb(248, 248, 248);
    text-decoration: none;
}

.github-repo a:hover {
    display: inline-flex;
    white-space: nowrap;
    -moz-box-align: center;
    align-items: center;
    position: relative;
    pointer-events: auto;
    text-align: center;
    font-family: "gilroy-bold";
    font-weight: bold;
    border-radius: 40px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    /* margin: 10px; */
}


/* Mobile devices */
@media only screen and (max-width: 768px) {
    
    .grid {
        height: 65vh;
    }

    .grid-container {
      width: 300px;
      height: 300px;
    }
    
    .square {
      width: 90px;
      height: 90px;
    }
    
    .start-stop-game {
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        font-size: 24px;
        padding: 8px 20px;
    }
}